<%- include("../partials/header1") %>

	<% if(user.type == 1) { %>
	<title>Umeed | Admin</title>
	<% } else if(user.type == 2) { %>
	<title>Umeed | Area Manager</title>
	<% } else { %>
	<title>Umeed | User</title>
	<% } %>

<%- include("../partials/header2") %>
			<div class="sidebar" style="display:none">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item active">
							<a href="#">
								<i class="la la-dashboard"></i>
								<p>Dashboard</p>
								<span class="badge badge-count">5</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Dashboard</h4>
						<div class="row">

							<!-- modal form for Creating Task -->
							<div class="col-md-3">
								<form action="/dashboard/<%= user._id %>" method="POST">
								<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
									<div class="modal-dialog" role="document">
										<div class="modal-content">
												<div class="modal-header text-center">
													<h4 class="modal-title w-100 font-weight-bold">Assign New Task</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body mx-3">
													<div class="md-form mb-5">
													<i class="fas fa-envelope prefix grey-text"></i>
													<input type="text" name="assignedTo" placeholder="Name" />
													<label data-error="wrong" data-success="right" for="defaultForm-assignedto">Assigned to</label>
													</div>

													<div class="md-form mb-4">
													<i class="fas fa-lock prefix grey-text"></i>
													<input type="text" name="assignedBy" placeholder="Name" />
													<label data-error="wrong" data-success="right" for="defaultForm-assignedby">Assigned by</label>
													</div>

													<div class="md-form mb-4">
													<i class="fas fa-lock prefix grey-text"></i>
													<input type="number" name="noOfHours" placeholder="Name" />
													<label data-error="wrong" data-success="right" for="defaultForm-hours">No of Hours</label>
													</div>

													<div class="md-form mb-4">
													<i class="fas fa-lock prefix grey-text"></i>
													<input type="number" name="wagePerHour" placeholder="Name" />
													<label data-error="wrong" data-success="right" for="defaultForm-wages">Wage per Hour</label>
													</div>

													<div class="md-form mb-4">
													<i class="fas fa-lock prefix grey-text"></i>
													<input type="text" name="description" placeholder="Name" />
													<label data-error="wrong" data-success="right" for="defaultForm-description">Description</label>
													</div>
												</div>
												<div class="modal-footer d-flex justify-content-center">
													<button type="submit" class="btn btn-default">Assign</button>
												</div>
										</div>
									</div>
									</div>
								</form>
								<% if(user.type < 3) {%>
									<div class="text-center">
									<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Create New Task</a>
								</div>
								<% } else { %>
									<div class="text-center"></div>
										<form action="/upload" enctype="multipart/form-data" method="post">
											<div class="form-group">
											  <label for="">Select File</label>
											  <input type="file" class="form-control" multiple name="images" id="" />
											</div>
											<input type="submit" value="Upload" class="btn btn-primary" />
										  </form></form>
									</div>
								<% } %>
							</div>
						</div>
						
						<div class="row">
							<% user.tasks.forEach(function(task) { %>
							<div class="col-md-3">
								<div class="card">
									<div class="card-header">
										<div class="legend"><i class="text-primary"></i> Assigned To : <%= task.assignedTo %></div>
										<div class="legend"><i class="text-primary"></i> Area : <%= user.area %></div>	
									</div>
									<div class="card-body">
										<div class="text-center"><%= task.description %></div>
									</div>
									<form action="/dashboard/<%= user._id %>/<%= task._id %>?_method=DELETE" method="POST">
										<button class="btn btn-primary btn-rounded mb-2 mx-4">Delete Task</button>
									</form>
									<div class="card-footer">
										<% if(task.completed === 'NO') {%>
										<div class="legend"><i class="la la-circle text-primary"></i> In Progress</div>
										<% } else { %>
										<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
										<% } %>
									</div>
								</div>
							</div>
							<% }) %>
						</div>
					</div>
				</div>
				<footer class="footer">
					
				</footer>
			</div>
		</div>
	</div>

<%- include("../partials/footer") %>